<ion-header>
  <ion-toolbar>
    <ion-title>Heating Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    

    <ion-card>
        <ion-item>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-item>      
        <ion-card-content>
          <p>Install a programmable thermostat to save up to <b>10% </b> on heating costs. </p>
          <ion-button shape="round" fill="outline" href="https://www.homedepot.com/b/Heating-Venting-Cooling-Thermostats-Programmable-Thermostats/N-5yc1vZc4kc">Find One Here</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-item>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-item>      
          <ion-card-content>
            <p>Seal air leaks and properly insulate to save up to <b>20% </b>on heating bills, while also increasing home comfort. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-item>      
            <ion-card-content>
              <p>An extra freezer in your garage consumes around 103 kWh and costs an average of <b>$14 per month. </b> Unplug this when it is not in use. </p>
            </ion-card-content>
          </ion-card>
</ion-content>
