<ion-header>
  <ion-toolbar>
    <ion-title>appliances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ng-container *ngIf="!products || products.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
          <p>
            <ion-skeleton-text  class="fake-skeleton"></ion-skeleton-text>
          </p>
      </div> 

    </ng-container>
<!--
    <ion-item   *ngFor="let product of products |  async">
    <ion-item lines="inset" button [routerLink]="['/details', item.id]"> 
      <ion-label>
        {{ Appliance.name }}

        <p>{{ Appliance.price }} </p>
        
      </ion-label>

    </ion-item>

    </ion-item>
  --> </ion-list>

</ion-content>
