<ion-header>
  <ion-toolbar>
    <ion-title>Appliances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <ion-list>
        <div *ngFor="let appliance of myAppliances">
      

  <ion-card>
    <ion-item>
      <img src= {{appliance.img}} >
    </ion-item>
    <ion-card-content>
      <p><b>Name: </b>{{ appliance.name }} </p>
      <p><b>Power Usage: </b> {{ appliance.powerUsage }} watts</p>
      <p><b>Rating: </b> {{ appliance.rating }}</p>
      <p><b>Price: </b> ${{ appliance.price }} </p>
      <p><b>Location: </b> {{ appliance.location }}</p>
      <ion-button shape="round" fill="outline" href={{appliance.url}}></ion-button>
    </ion-card-content>
  </ion-card> 
</div>
</ion-list>

    
    

</ion-content>
