

<ion-content>

<p id="stat"> Over 200 billion gallons of water are being wasted every year due to unnecessarily long showers.
</p>

<p id="stat">Water heaters consume nearly 17% of a home’s energy use, more energy than all other household appliances combined.</p>
<!--nav to heating-tips page-->

<p id="stat">The average household consumes 10,982 kWh of electricity and spends around $2,200 annually on utility bills.</p>

<p id="stat"> In 2013, the combined waste of internet-connected devices in the US was greater than the entire electricity usage of Canada.</p>


</ion-content>