
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBdTmUMlG1nMVJvtXynDlypPE73o-pZ3UA",
    authDomain: "cbus-2019.firebaseapp.com",
    databaseURL: "https://cbus-2019.firebaseio.com",
    projectId: "cbus-2019",
    storageBucket: "cbus-2019.appspot.com",
    messagingSenderId: "831426845778"
  };
  firebase.initializeApp(config);
</script>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Welcome to APPNAME</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><ion-img style= "float: left;" src="https://img.freepik.com/free-vector/green-energy-efficient-cfl-light-bulb_3446-457.jpg?size=338&ext=jpg"></ion-img>
          Americans spend $130 billion a year on wasted energy. 
          By conserving energy, you are not only supporting the wellness of our environment but also saving money!
        </p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
