button {
    width: 49%;
    height: 29%;
    color:white;
  }

#tv {

  background-color: #8C8CFF;
  border: #8C8CFF;
}

#computer {
  background-color: #8CA3E8;
  border: #8CA3E8;
}

#appliance {
  background-color: #8CBAD1;
  border: #8CBAD1;
}

#light {
  background-color: #8CD1BA;
  border: #8CD1BA;
}

#nav {
  background-color: #8CE8A3	;
  border: #8CE8A3;
}

#game {
  background-color: #8CFF8C;
  border: #8CFF8C;
}
label {
  font-size: 30px;
}

ion-icon {
  font-size: 50px;
}

