button {
    width: 49%;
    height: 29%;
    color:white;
  }

#tv {

  background-color: #DDB8F9;
  border: #DDB8F9;
}

#computer {
  background-color: #C1BBF9;
  border: #C1BBF9;
}

#appliance {
  background-color: #BED5FA;
  border: #BED5FA;
}

#light {
  background-color: #C2F3FB;
  border: #C2F3FB;
}

#nav {
  background-color: #C5FCEA;
  border: #C5FCEA;
}

#game {
  background-color: #C9FDD3;
  border: #C9FDD3;
}
label {
  font-size: 30px;
}

ion-icon {
  font-size: 50px;
}

